aiohttp
archspec 
boltons 
Brotli 
cartopy
certifi 
cffi
#charset-normalizer 
#conda 
#conda-content-trust 
#conda-libmamba-solver 
#conda-pack==0.8.1
#conda-package-handling 
#conda_package_streaming 
cryptography 
datashader
distro 
docutils==0.21.2
frozendict 
geopandas
geoviews
hvplot
idna 
importlib_metadata==8.4.0
intake
intake-xarray
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.0.2
jeepney==0.8.0
jsonpatch 
jsonpointer==2.1
keyring==25.3.0
#libmambapy 
markdown-it-py==3.0.0
mdurl==0.1.2
#menuinst 
more-itertools==10.4.0
nh3==0.2.18
packaging 
panel
pkginfo==1.10.0
platformdirs 
pluggy 
#pycosat 
pycparser 
Pygments==2.18.0
PySocks 
readme_renderer==44.0
requests 
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.7.1
ruamel.yaml 
seaborn
SecretStorage==3.3.3
setuptools==68.2.2
tqdm 
truststore 
twine==5.1.1
urllib3 
xarray
wheel==0.41.2
zarr
zipp==3.20.0
zstandard 
